<nav th:fragment="navbar" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Conferences</span>
        <div class="nav-item me-2">
            <form class="mb-0" method="get" th:action="@{/}">
                <input type="hidden" name="lang" th:value="${#locale.toString()}=='ua'?'en':'ua'"/>
                <button class="btn btn-primary" type="submit" th:text="#{lang}"></button>
            </form>
        </div>
    </div>
</nav>