<!DOCTYPE>
<html>
<head th:insert="fragments/head"></head>
<body>
<div class="content">
    <nav th:insert="fragments/navbar.html"></nav>
    <div class="container mt-4">
        <form method="post" action="/login">
            <input hidden name="_csrf" th:value="${_csrf.token}"/>
            <div class="row mb-2">
                <h1>Log In</h1>
            </div>
            <div class="row col-4">
                <input class="form-control mb-2" name="username" placeholder="Login">
            </div>
            <div class="row col-4">
                <input class="form-control mb-2" type="password" name="password" placeholder="Password">
            </div>
            <div class="row col-4">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>