<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head.html :: head">
</head>
<body>
<div class="content">
    <nav th:insert="fragments/navbar.html"></nav>
    <div class="row">
        <h1 class="d-flex justify-content-center"></h1>
    </div>
    <div class="row" th:if="${user != null}">
    </div>
    <div class="d-flex me-4">
        <input type="button" class="btn btn-primary me-4" onclick="window.location.href='/events'" th:value="#{events}"/>
        <div th:if="${user != null}">
            <div sec:authorize="hasAuthority('MODERATOR')">
                <input type="button" class="btn btn-primary me-4" onclick="window.location.href='/add/event'" th:value="#{add-event}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>